<!DOCTYPE html>
<html lang="ru" translate="no">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="<%= faviconDark %>" media="(prefers-color-scheme: dark)" />
  <link rel="icon" type="image/svg+xml" href="<%= faviconLight %>" media="(prefers-color-scheme: light)" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.ts"></script>
</body>

</html>
